@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, html,body{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	font-family:'Poppins', sans-serif;
}
body{
	background-color:#f5eee5 !important;
	width:100%;
}
.cards{
    display:flex;
	justify-content:center;
	align-items:center;
}
.container{
    margin-top: 20px;
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
}
.Box{
	width:280px;
	min-height:400px;
	border-radius:20px;
	background:#f5eee5;
	box-shadow: -13px -13px 26px #dec8ab, 
             	13px 13px 26px #f1e7da;
    display:table;
    margin:20px;
    cursor:pointer;
    transition:1s;
}
.Box:hover{
	background:linear-gradient(315deg, #eee2d3, #f5eee5);
	box-shadow: inset -30px -10px 10px #f5e9d9, 
            	inset 30px 10px 10px #cfc0ab;

}
.Box div{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	color:#222;
	padding:30px;
	color:#b08245;
}
.Box div h2{
	margin-top:30px;
}
.Box div a{
	display:inline-block;
	margin-top:20px;
	width:120px;
	height:45px;
	background:linear-gradient(315deg, #eadbc8, #e2cfb6);
	box-shadow: -13px -13px 26px #e7d6c1, 
             	13px 13px 26px #eee2d3;
	text-align:center;
	line-height:45px;
	text-decoration:none;
	color:black;
	border-radius:20px;
	transition:1s;
}
.Box a:hover{
	box-shadow: inset -13px -13px 26px #e7d6c1, 
             	inset 13px 13px 26px #eee2d3;
}
.Box div i{
	font-size:100px;
	color:black;
}

@media (max-width:300px){
	.container .Box{
		width:100%;
		margin:20px 5px 20px 5px;
	}
	.container .Box div{
		padding:5px;
	}
	.Box div h2{
		margin-top:10px;
	}
}
  .navbar-logo {
    margin-left: 20px;
    padding: 15px;
    color: #fff;
  }
  .navbar-mainbg {
    background-color: #000000;
    padding: 0px !important;
  }
  #navbarSupportedContent {
    overflow: hidden;
    position: relative;
  }
  #navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
  }
  #navbarSupportedContent li {
    list-style-type: none;
    float: left;
    margin-right: 20px;
  }
  #navbarSupportedContent ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
  }
  #navbarSupportedContent > ul > li.active > a {
    color: #000000;
    background-color: transparent;
    transition: all 0.7s;
  }
  #navbarSupportedContent a:not(:only-child):after {
    content: '\f105';
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
  }
  #navbarSupportedContent .active > a:not(:only-child):after {
    transform: rotate(90deg);
  }
  
  .hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #f5eee5;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
  }
  .hori-selector .right,
  .hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #f5eee5;
    bottom: 10px;
  }
  .hori-selector .right {
    right: -25px;
  }
  .hori-selector .left {
    left: -25px;
  }
  .hori-selector .right:before,
  .hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000000;
  }
  .hori-selector .right:before {
    bottom: 0;
    right: -25px;
  }
  .hori-selector .left:before {
    bottom: 0;
    left: -25px;
  }
  @media (max-width: 991px) {
    #navbarSupportedContent ul li a {
      padding: 12px 30px;
    }
    .hori-selector {
      margin-top: 0px;
      margin-left: 10px;
      border-radius: 0;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
    .hori-selector .left,
    .hori-selector .right {
      right: 10px;
    }
    .hori-selector .left {
      top: -25px;
      left: auto;
    }
    .hori-selector .right {
      bottom: -25px;
    }
    .hori-selector .left:before {
      left: -25px;
      top: -25px;
    }
    .hori-selector .right:before {
      bottom: -25px;
      left: -25px;
    }
  }
  footer{
    margin-top: 30px;
    background-color: black;
    text-align: center;
    padding-bottom: 15px;
  }
  .sm-handle{
    display: flex;
    padding-top: 2rem;
    justify-content: center;
  }
  .sm-button{
    margin: 0px 10px 0px;
    border: 1px solid #bababa;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .sm-button:hover{
    background: linear-gradient(to right, #cfc0ab, #eee2d3	);
  }
  .copyright{
    margin-top: 10px;;
  }
  .copyright a{
    color: #fff;
    font-size: 12px;
    cursor: pointer;

  }
