<footer>
    <div class="sm-handle">
        <a href="https://www.instagram.com/" class="sm-button">
            <i style="color:palevioletred" class="fab fa-instagram"> </i>
        </a>
        <a href="https://www.linkedin.com/" class="sm-button">
            <i style="color:blue" class="fab fa-linkedin"> </i>
        </a>
        <a href="https://www.facebook.com/" class="sm-button">
            <i style="color:rgb(6, 55, 95)" class="fab fa-facebook-f"> </i>
        </a>
        <a href="https://www.twitter.com/" class="sm-button">
            <i style="color:rgb(20, 140, 238)" class="fab fa-twitter"> </i>
        </a>
        <a href="https://github.com/MLH-Fellowship/pod-3.1.0-DevAssist" class="sm-button">
            <i style="color:purple" class="fab fa-github"> </i>
        </a>
    </div>
    <p class="copyright">&copy Copyright 2021 | <a href="">❤️ Team 3 from pod 3.1.0(Recursive Rhinos)</a>
    </p>

</footer>