<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevAssist | Boilerplate Generator</title>
    <link rel="stylesheet" href="../static/css/websiteBlocker.css">
</head>

<body>
    <div class="container">
        <div class="box shadow-4">
            <h1>Boilerplate Generator</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, voluptatibus.</p>
        </div>
        <div class="box shadow-2">
            <h1>React-Flask Boilerplate</h1>
            <hr>
            <a href="/react-flask" target="blank"><button>DOWNLOAD</button></a>
            
        </div>
        <div class="box shadow-2">
            <h1>React-Node Boilerplate</h1>
            <hr>
            <a href="/react-node" target="blank"><button>DOWNLOAD</button></a>
            
        </div>
        <div class="box shadow-2">
            <h1>React-Flask Django</h1>
            <hr>
            <a href="/react-django" target="blank"><button>DOWNLOAD</button></a>
            
        </div>
    </div>
</body>

</html>