<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevAssist | Boilerplate Generator</title>
    <link rel="stylesheet" href="../static/css/boilerplateGenerator.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
   
  
</head>

<body>
    {% include 'Includes/navbar.html' %}
<div class="new">
    <div class="container">
        <div class="box shadow-4">
            <h1>Boilerplate Generator</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, voluptatibus.</p>
        </div>
        <div class="box shadow-2">
            <h1>React-Flask Boilerplate</h1>
            <hr>
            <a href="/react-flask" target="blank"><button class="button1">DOWNLOAD</button></a>
            
        </div>
        <div class="box shadow-2">
            <h1>React-Node Boilerplate</h1>
            <hr>
            <a href="/react-node" target="blank"><button class="button1">DOWNLOAD</button></a>
            
        </div>
        <div class="box shadow-2">
            <h1>React-Flask Boilerplate</h1>
            <hr>
            <a href="/react-django" target="blank"><button class="button1">DOWNLOAD</button></a>
            
        </div>
    </div>
</div>
{% include 'Includes/footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>