{% extends 'layout.html' %}
{% block body %}
<div class="container cards">
    <div class="Box">
        <div>
            <i class="fas fa-file-code"></i>
            <h2>AUTO ERROR CHECK</h2>
            <p>
                Automatic error handling with possible solutions for your code.
            </p>
            <a href="/autoErrCheck">Learn More</a>
        </div>
    </div>
    <div class="Box">
        <div>
            <i class="fas fa-user-lock"></i>
            <h2>WEBSITE BLOCKER</h2>
            <p>
                Block the time-wasting websites from your browser.
            </p>
            <a href="/websiteBlocker">Learn More</a>
        </div>
    </div>
    <div class="Box">
        <div>
            <i class="fas fa-laptop-code"></i>
            <h2>WEBSITE MONITOR</h2>
            <p>
                Keep a track of your websites to manage your screen time.
            </p>
            <a href="/webmon">Learn More</a>
        </div>
    </div>
    <div class="Box">
        <div>
            <i class="fas fa-comments"></i>
            <h2>DEVELOPERS CHAT ROOM</h2>
            <p>
                Connect with developers for sharing and learning new things.
            </p>
            <a href="/devchat">Learn More</a>
        </div>
    </div>
    <div class="Box">
        <div>
            <i class="fas fa-pencil-ruler"></i>
            <h2>BOILERPLATE GENERATOR</h2>
            <p>
                Download the boilerplate codes for mostly used frameworks.
            </p>
            <a href="/boilerplateGenerator">Learn More</a>
        </div>
    </div>
    <div class="Box">
        <div>
            <i class="fas fa-laptop-code"></i>
            <h2>Code</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <a href="#">Learn More</a>
        </div>
    </div>
</div>
{% endblock %}