<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/team.css">
    <title>DevAssist | Team</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
   
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-mainbg">
    <a class="navbar-brand navbar-logo " href="/">{DA}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector">
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/">
                    HOME
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/landingPage">
                    DEV TOOLS
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/team">
                    TEAM
                </a>
            </li>
        </ul>
    </div>
</nav>
    <section id="team" class="team content-section">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1>Our Team</h1>
              <hr>
              <h2 class="caption gray">Meet the people behind the awesome stuffs</h2>
            </div>
      
            <div class="container">
              <div class="row">
                
                <div class="col-md-3">
                  <div class="team-member">
                    <figure>
                      <img src="../static/images/team/patrick.jpg" alt="" class="img-responsive image">
                      <figcaption>
                        <p>Hi! I am a member of Team 3 from pod 3.1.0 aka Recursive Rhinos.</p>
                        <ul>
                          <li><a href="https://github.com/OfiliPatrick"><i class="fab fa-github fa-2x"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/patrick-ofili-65056317a/"><i class="fab fa-linkedin fa-2x"></i></a></li>
                        </ul>
                      </figcaption>
                    </figure>
                    <h4>Patrick Ofili</h4>
                    <p>Python Developer</p>
                  </div>
                </div>
      
                <div class="col-md-3">
                  <div class="team-member">
                    <figure>
                      <img src="../static/images/team/simran.jpg" alt="" class="img-responsive image">
                      <figcaption>
                        <p>Hi! I am a member of Team 3 from pod 3.1.0 aka Recursive Rhinos.</p>
                        <ul>
                          <li><a href="https://github.com/simran1199"><i class="fab fa-github fa-2x"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/simran3579singh"><i class="fab fa-linkedin fa-2x"></i></a></li>
                        </ul>
                      </figcaption>
                    </figure>
                    <h4>Simran Singh</h4>
                    <p>Python Developer</p>
                  </div>
                </div>
      
                <div class="col-md-3">
                  <div class="team-member">
                    <figure>
                      <img src="../static/images/team/nilisha.jpg" alt="" class="img-responsive image">
                      <figcaption>
                        <p>Hi! I am a member of Team 3 from pod 3.1.0 aka Recursive Rhinos.</p>
                        <ul>
                          <li><a href="https://github.com/nilisha-jais"><i class="fab fa-github fa-2x"></i></a></li>
                          <li><a href="https://twitter.com/jaiswal_nilu05"><i class="fab fa-twitter fa-2x"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/nilisha-jaiswal-7980061b2"><i class="fab fa-linkedin fa-2x"></i></a></li>
                        </ul>
                      </figcaption>
                    </figure>
                    <h4>Nilisha Jaiswal</h4>
                    <p>Web Developer</p>
                  </div>
                </div>
      
                <div class="col-md-3" >
                    <div class="team-member ">
                      <figure>
                        <img src="../static/images/team/john.jpg" alt="" class="img-responsive image">
                        <figcaption>
                          <p>Hi! I am a member of Team 3 from pod 3.1.0 aka Recursive Rhinos.</p>
                          <ul>
                            <li><a href="https://github.com/ugwulo"><i class="fab fa-github fa-2x "></i></a></li>
                            <li><a href="https://twitter.com/ndubuisi_ugwulo"><i class="fab fa-twitter fa-2x"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/ugwulo"><i class="fab fa-linkedin fa-2x"></i></a></li>
                          </ul>
                        </figcaption>
                      </figure>
                      <h4>Johnpaul Ugwulo</h4>
                      <p>Android Developer</p>
                    </div>
                  </div>
              </div>
            </div>
      
          </div>
        </div>
      </section>
      {% include 'Includes/footer.html' %}
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"></script>
  <script src="../static/js/main.js"></script>
</body>
</html>