<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/team.css">
    <title>DevAssist | Team</title>
</head>
<body>
    <section id="team" class="team content-section">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h2>Our Team</h2>
              <h3 class="caption gray">Meet the people behind the awesome stuffs</h3>
            </div>
      
            <div class="container">
              <div class="row">
                
                <div class="col-md-4">
                  <div class="team-member">
                    <figure>
                      <img src="../static/images/team/john.jpg" alt="" class="img-responsive">
                      <figcaption>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.</p>
                        <ul>
                          <li><a href="https://github.com/OfiliPatrick"><i class="fa fa-github fa-2x"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/patrick-ofili-65056317a/"><i class="fa fa-linkedin fa-2x"></i></a></li>
                        </ul>
                      </figcaption>
                    </figure>
                    <h4>Patrick Ofili</h4>
                    <p>Python Developer</p>
                  </div>
                </div>
      
                <div class="col-md-4">
                  <div class="team-member">
                    <figure>
                      <img src="../static/images/team/simran.jpg" alt="" class="img-responsive">
                      <figcaption>
                        <p>Neque minima ea, a praesentium saepe nihil maxime quod esse numquam explicabo eligendi.</p>
                        <ul>
                          <li><a href="https://github.com/simran1199"><i class="fa fa-github fa-2x"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/simran3579singh"><i class="fa fa-linkedin fa-2x"></i></a></li>
                        </ul>
                      </figcaption>
                    </figure>
                    <h4>Simran Singh</h4>
                    <p>Python Developer</p>
                  </div>
                </div>
      
                <div class="col-md-4">
                  <div class="team-member">
                    <figure>
                      <img src="../static/images/team/nilisha.jpg" alt="" class="img-responsive">
                      <figcaption>
                        <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                        <ul>
                          <li><a href="https://github.com/nilisha-jais"><i class="fa fa-github fa-2x"></i></a></li>
                          <li><a href="https://twitter.com/jaiswal_nilu05"><i class="fa fa-twitter fa-2x"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/nilisha-jaiswal-7980061b2"><i class="fa fa-linkedin fa-2x"></i></a></li>
                        </ul>
                      </figcaption>
                    </figure>
                    <h4>Nilisha Jaiswal</h4>
                    <p>Web Developer</p>
                  </div>
                </div>
      
                <div class="col-md-4" >
                    <div class="team-member ">
                      <figure>
                        <img src="../static/images/team/john.jpg" alt="" class="img-responsive">
                        <figcaption>
                          <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                          <ul>
                            <li><a href="https://github.com/ugwulo"><i class="fa fa-github fa-2x"></i></a></li>
                            <li><a href="https://twitter.com/ndubuisi_ugwulo"><i class="fa fa-twitter fa-2x"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/ugwulo"><i class="fa fa-linkedin fa-2x"></i></a></li>
                          </ul>
                        </figcaption>
                      </figure>
                      <h4>Johnpaul Ugwulo</h4>
                      <p>Android Developer</p>
                    </div>
                  </div>
              </div>
            </div>
      
          </div>
        </div>
      </section>
</body>
</html>