<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevAssist | Website Blocker</title>
    <link rel="stylesheet" href="../static/css/websiteBlocker.css">
</head>

<body>
    <div class="container">
        <div class="box shadow-4">
            <h1>Website Blocker</h1>(Chrome Extension)
            <hr>
            <p>Developers often spend a lot of time on the internet, whether its looking for the next piece of code to
                copy and paste from StackOverflow or watching a youtube tutorial. We can improve the productivity of
                developers by developing a chrome extension to keep track of his/her website visits and also potentially
                block time-wasting or distracting websites.</p>
        </div>
        <div class="box shadow-2">
            <h1>Steps to use the extension</h1>
            <hr>
            <ul>
                <li>Download the zip file and extract the extension.</li>
                <li>Go to the extensions page in google chrome under more options.</li>
                <li>Select developer mode and click on load unpacked.</li>
                <li>Navigate to the extracted extension folder and select it.</li>
                <li>Right click on the extension and select options to access the main options page.</li>
                <li>To block a webisite, type into the input and click on add.</li>
                <li>To unblock select the delete option in the list of blocked websites.</li>
            </ul>
        </div>
        <div class="box shadow-2">
            <h1>Download the zip file</h1>
            <hr>
            <a href="/download" target="blank"><button>DOWNLOAD</button></a>
        </div>
    </div>
</body>

</html>